html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://img1.wallspic.com/originals/0/7/8/9/3/139870-fleur_de_cerisier_rose_sous_le_ciel_bleu_et_les_nuages_blancs_pendant_la_journee-3840x2160.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }